<%- include("../../../partials/header.ejs", {
    image_url : "",
    title : "Aquamarine - Error",
    description : ""
}) -%>

<body>
    <%- include("../../../partials/elements/navbar.ejs") %>

    <div class="wrapper center">
        <div class="error-wrapper">
            <span>No user exists with the given username.</span>
        </div>
    </div>

    <%- include("../../../partials/elements/footer.ejs") %>
</body>