<%- include("../../../partials/header.ejs", {
    image_url : "",
    title : "Aquamarine - Error",
    description : ""
}) -%>

<body>
    <%- include("../../../partials/elements/navbar.ejs") %>

    <div class="wrapper center">
        <div class="error-wrapper">
            <span>An account already exists with the Nintendo Network ID chosen. Please recreate your account <a href="/signup">Here</a>.</span>
        </div>
    </div>

    <%- include("../../../partials/elements/footer.ejs") %>
</body>