<div class="upper-body">
    <menu>
        <li class="logo">
            <a href="/">
                <img src="/img/dummy-logo.png" width="165px">
            </a>
        </li>

        <li class="user-profile">
            <a href="/">
                <img class="user-image" src="https://mii-secure.cdn.nintendo.net/10ecdoewepj7h_normal_face.png">
                <span>User Page</span>
            </a>
        </li>

        <li class="activity-feed">
            <a href="/">
                <span>Activity Feed</span>
            </a>
        </li>

        <li class="communities">
            <a href="/">
                <span>Communities</span>
            </a>
        </li>

        <li class="messages">
            <a href="/">
                <span>Messages</span>
            </a>
        </li>
    </menu>
</div>