<div class="user-info">
    <img src="/img/mii.png">

    <div class="user-meta signin">
        <a class="mii_name trigger no-bg" href="/login?redirect=<%= redirect %>">Sign In?</a>
    </div>
</div>