@font-face {
    font-family: Symbols;
    src: url("MiiverseSymbols-Regular.woff")
}

:root {
    --common-text-color: #323232;

    --nav-bar-bg: rgb(255, 255, 255);
    --nav-bar-border-bottom: rgb(230, 230, 230);
    --nav-bar-actions-border: rgb(200, 200, 200);
    --nav-bar-actions-text-color: rgb(110, 110, 110);
    --nav-bar-active-color: rgb(15, 205, 210);

    --gutter-bg: rgb(250, 250, 250);

    --footer-bg: rgb(235, 235, 235);
    --footer-text: rgb(145, 145, 145);
    --footer-text-hover: rgb(115, 115, 115);
    --footer-text-size: 13px;
    --footer-border-top: rgb(215, 215, 215);

    --login-bg: rgb(255, 255, 255);
    --login-border: rgb(222, 222, 222);
    --login-slogan-text-color: rgb(150, 150, 150);

    --aquamarine-text-color: rgb(17, 206, 212);

    --about-actions-text-color: rgb(255, 255, 255);
    --about-actions-signin-bg: rgb(15, 205, 210);
    --about-actions-installation-bg: rgb(79, 202, 67);

    --about-actions-signin-bg-hover: rgb(13, 178, 184);
    --about-actions-installation-bg-hover: rgb(70, 182, 60);

    --search-bar-background: rgb(255, 255, 255);
    --search-bar-border: rgb(215, 215, 215);

    --community-favorites-bg: rgb(255, 255, 255);
    --community-favorites-border: rgb(222, 222, 222);
    --community-favorites-empty-bg: rgb(225, 225, 225);
    --community-favorites-arrow-bg: rgb(238, 238, 238);
    --community-favorites-arrow-text-color: rgb(170, 170, 170);
    --community-favorites-arrow-bg-hover: rgb(220, 220, 220);

    --community-header-text-color: rgb(160, 160, 160);

    --community-name-text-color: rgb(0, 0, 0);
    --community-hover-bg: rgb(245, 245, 245);

    --community-info-bg: rgb(255, 255, 255);
    --community-info-border-color: rgb(222, 222, 222);
    --community-app-name-color: rgb(125, 125, 125);
    --community-description-bg: rgb(242, 242, 242);
    --community-description-text-color: rgb(90, 90, 90);
    --community-type-badge-bg: rgb(15, 205, 210);
    --community-type-color: rgb(255, 255, 255);
    --community-content-bg: rgb(255, 255, 255);

    --community-normal-color: rgb(17, 206, 212);
    --community-popular-color: rgb(90, 200, 0);
    --community-ingame-color: rgb(74, 188, 216);
    --community-paintings-color: rgb(235, 198, 48);

    --community-no-posts-text-color: rgb(90, 90, 90);
    --community-header-text-color: rgb(111, 111, 111);

    --community-post-hover-bg: rgb(245, 245, 245);
    
    --community-header-border-bottom-color: rgb(241, 241, 241);

    --post-timestamp: rgb(110, 110, 110);
    --post-actions-text-color: rgb(160, 160, 160);

    --empathy-button-bg: rgb(255, 255, 255);
    --empathy-button-disabled-text-color: rgb(150, 150, 150);
    --empathy-button-boxshadow-color: rgb(210, 210, 210);

    --topic_tag_color: rgb(23, 174, 179);
}

.trigger {cursor: pointer;}
.none {display: none;}

.trigger:hover {
    background-color: var(--community-hover-bg) !important;

    transition: background-color 0.1s;
}

a.trigger:hover, span.trigger:hover {
    text-decoration: underline;
}

html, body {
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;

    background-color: #eaf5f2;
    background-repeat: repeat;
    background-attachment: fixed;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAArUlEQVQoFYWQuwrCQBBFd42FlaYQRMRCO3vBNpA/8HNtBbt04gcItnaKoLKegRnYTRYzcLjzuLNh4kMILooh+SeqO6kYJOawhzE0cIBsDLRboRPwsIUFZMMWTM1UWNJWMx4ZPHV4Rq9to9U+OlpeHcHDhjmNF3LzHc01yBdPEOwvkXdiQ6fW7gp9QWM3aD+RWVI5N5X638KF+VuXvqjUru+GEs8SbnCH3gXxJPEDtBsiPW8IwCQAAAAASUVORK5CYII=");
}

body {
    width: 100%;
    height: 100%;

    position: relative;
}

menu {
    display: flex;

    width: 900px;
    height: 50px;

    margin: 0;

    margin-right: 25px;
    margin-left: 25px;

    padding: 0;

    justify-content: right;
    align-items: center;
}

menu .logo {
    margin-right: auto;
}

menu .logo img {
    align-self: center;
}

menu li {
    padding: 0;
    list-style: none;

    margin-left: 20px;

    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

menu li:hover {
    box-shadow: inset 0 -4px 0 -1px var(--nav-bar-active-color);

    transition: 0.2s box-shadow;
}

menu li a {
    display: flex;

    width: 100%;
    height: 100%;

    text-decoration: none;
    color: var(--nav-bar-actions-text-color);

    font-weight: bold;
    font-size: 14px;
}

menu li a span {
    width: fit-content;
    height: fit-content;

    align-self: center;

    margin-left: 8px;

    height: 100%;

    vertical-align: middle;
    text-align: center;

    line-height: 50px;
}

.user-image {
    width: 35px;
    height: 35px;

    border-radius: 5px;

    border: 1px solid var(--nav-bar-actions-border);

    align-self: center;
}

menu li.messages a::before {
    font-family: Symbols;
    content: "m";

    font-size: 30px;

    line-height: 49px;

    font-weight: normal;
}

menu li.communities a::before {
    font-family: Symbols;
    content: "c";

    font-size: 30px;

    line-height: 49px;

    font-weight: normal;
}

menu li.activity-feed a::before {
    font-family: Symbols;
    content: "a";

    font-size: 30px;

    line-height: 49px;

    font-weight: normal;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 65px;

    background-color: var(--footer-bg);
    border-top: var(--footer-border-top);
}

footer .footer-wrapper {
    max-width: 600px;
    height: 50px;

    padding-top: 12px;
    padding-bottom: 2px;

    padding-left: 50px;
    padding-right: 50px;

    margin: 0 auto;
}

footer .footer-wrapper div {
    display: flex;
    justify-content: center;
}

footer .footer-wrapper div a  {
    padding: 15px;
    text-decoration: none;

    color: var(--footer-text);
    font-size: var(--footer-text-size);
}

footer .footer-wrapper div a:hover {
    color: var(--footer-text-hover);
    text-decoration: underline;
}

.upper-body {
    position: fixed;
    top: 0;

    z-index: 9;

    display: flex;
    justify-content: center;

    height: 50px;
    width: 100%;

    background-color: var(--nav-bar-bg);
    border-bottom: 2px solid var(--nav-bar-border-bottom);
}

.wrapper {
    display: block;

    width: 100%;

    padding-top: 50px;
    padding-bottom: 85px;
}

.center {
    display: flex;
    justify-content : center;
}

.login-wrapper {
    width: 640px;
    height: 300px;

    margin-top: 35px;

    border-radius: 5px;
    border: 1px solid var(--login-border);
    border-bottom: 2px solid var(--login-border);

    background-color: var(--login-bg);

    display: flex;
    align-items: center;
    flex-direction: column;

    margin-bottom: 250px;

    padding-bottom: 25px;
}

.login-wrapper img {
    margin-top: 30px;
    margin-bottom: 0px;

    width: 350px;
}

.login-wrapper span {
    color: var(--login-slogan-text-color);

    margin-bottom: 20px;
}

.login-wrapper button {
    margin-top: 15px;

    width: 120px;
    height: 35px;

    font-size: 20px;

    font-family: Arial, Helvetica, sans-serif;
}

.login-wrapper input {
    width: 325px;
    height: 35px;

    font-size: 20px;

    margin-bottom: 2px;

    font-family: Arial, Helvetica, sans-serif;
}

.about-aquamarine {
    background-color: var(--gutter-bg);

    height: fit-content;
    width: 100%;

    padding-top: 15px;

    border-bottom: 1px solid var(--nav-bar-border-bottom);
}

.about-wrapper {
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    height: 100%;

    max-width: 960px;
}

.about-paragraph {
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 100%;
    
    padding-right: 25px;
}

.about-paragraph h1 {
    text-align: center;
    font-size: 22px;

    margin-bottom: 5px;

    color: var(--aquamarine-text-color);
}

.about-aquamarine p {
    line-height: 1.5;
    font-size: 15px;

    margin-top: 15px;
}

.about-image img {
    border-radius: 5px;
    width: 500px;
}

.about-actions-wrapper {
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.about-actions-wrapper a {
    display: block;

    width: fit-content;

    margin: 0 auto;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;

    text-align: center;
    
    color: var(--about-actions-text-color);
    text-decoration: none;

    border-radius: 15px;

    margin-bottom: 8px;

    font-size: 15px;
}

.about-actions-wrapper a:nth-child(1) {
    background-color: var(--about-actions-signin-bg);
}

.about-actions-wrapper a:nth-child(2) {
    background-color: var(--about-actions-installation-bg);
}

.about-actions-wrapper a:nth-child(1):hover {
    background-color: var(--about-actions-signin-bg-hover);

    transition: 0.1s background-color;
}

.about-actions-wrapper a:nth-child(2):hover {
    background-color: var(--about-actions-installation-bg-hover);

    transition: 0.1s background-color;
}

.index-communities-wrapper {
    margin: 0 auto;
    width: 960px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.index-communities-wrapper .community-favorites {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;

    flex-wrap: wrap;

    width: 610px;
    height: fit-content;

    padding: 10px;

    align-self: center;

    margin-top: 15px;
    margin-bottom: 15px;

    background-color: var(--community-favorites-bg);

    border-radius: 5px;
    border: 1px solid var(--community-favorites-border);
    border-bottom: 2px solid var(--community-favorites-border);
}

.community-favorites .favorite {
    width: 60px;
    height: 60px;

    margin-left: 10px;
}

.community-favorites .favorite:nth-child(1) {
    margin-left: 0px;
}

.community-favorites .favorite img {
    width: 60px;
    height: 60px;
    border-radius: 5px;

    border: 1px solid var(--community-favorites-border);
}

.community-favorites .next-arrow {
    width: 50px;
    min-width: 50px;

    height: 50px;

    margin-left: 10px;

    font-size: 20px;
    font-family: Symbols;

    text-align: center;
    align-self: center;

    line-height: 2.5;
    letter-spacing: -3px;

    border-radius: 100%;

    background-color: var(--community-favorites-arrow-bg);
    color: var(--community-favorites-arrow-text-color);

    text-decoration: none;
}

.community-favorites .next-arrow:hover {
    background-color: var(--community-favorites-arrow-bg-hover);

    transition: background-color 0.2s;
}

.favorite.empty {
    background: var(--community-favorites-empty-bg);
    border-radius: 5px;
}

.index-communities-wrapper .communities {
    width: fit-content;

    display: flex;
    flex-direction: column;
}

.index-communities-wrapper .popular-communities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 630px;
}

.communities > div > h1 {
    font-size: 17px;

    margin-top: 15px;

    color: var(--community-header-text-color);

    max-width: 630px;
}

.index-communities-wrapper .newest-communities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 630px;
}

.newest-communities .community {
    margin-bottom: 6px;
}

.index-communities-wrapper {
    flex-direction: row;
    flex-wrap: wrap;

    display: flex;
}

.extra-content {
    padding-top: 15px;

    width: 320px;
}

.extra-content form {
    border: 3px solid var(--search-bar-border);
    
    background-color: var(--search-bar-background);

    border-radius: 2px;

    width: 314px;
    max-width: 314px;

    display: flex;
    justify-content: space-between;
}

.extra-content form input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: none;

    padding-left: 6px;
    padding-top: 7px;
    padding-bottom: 7px;

    font-size: 16px;

    width: 90%;

    background-color: transparent;

    font-family: Arial, Helvetica, sans-serif;
}

.extra-content form input[type="submit"] {
    width: 34px;
    height: 34px;

    align-self: center;

    border: none;
    background-color: transparent;

    font-size: 16px;
    font-family: Symbols;
    color: var(--common-text-color);
    text-align: center;

    cursor: pointer;
}

.community {
    margin-right: 15px;
    margin-bottom: 15px;

    width: 307px;

    height: fit-content;
}

div > .community:nth-child(even) {
    margin-right: 0px;
}

.community a {
    width: fit-content;
    height: fit-content;

    display: block;
}

.community a img.banner {
    width: 305px;
    display: block;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid var(--community-info-border-color);
    border-bottom: none;
}

.community:has(img.banner) .community-info {
    border-radius: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.community .community-info {
    height: 75px;
    max-height: 75px;

    max-width: 305px;

    display: flex;

    background-color: var(--community-info-bg);
    border: 1px solid var(--community-info-border-color);
    border-bottom: 2px solid var(--community-info-border-color);
    border-radius: 3px;
}

.community-info .icon-wrapper {
    align-self: center;
    padding-left: 10px;
}

.community-info .icon {
    width: 52px;

    border-radius: 3px;

    border: 1px solid var(--community-info-border-color);

    display: block;
}

.community-meta {
    display: flex;
    flex-direction: column;

    justify-content: center;

    align-self: center;

    height: 54px;
    width: 220px;

    margin-left: 7px;
}

.community-meta .name {
    font-weight: bold;
    color: var(--community-name-text-color);

    display: block;
    width: fit-content;
}

.community-meta .platform {
    color: var(--community-app-name-color);

    display: inline-block;
    width: fit-content;

    font-size: 13px;

    vertical-align: middle;

    margin-top: 3px;
}

.platform::before {
    display: inline-block;

    background-repeat: no-repeat;
    background-size:contain;
    content: "";

    width: 58px;
    height: 12px;

    position: relative;
    top: 2px;
}

.platform.wiiu::before { 
    background-image: url("/img/platform/platform-tag-wiiu.png");
}

.platform.\33 ds::before {
    background-image: url("/img/platform/platform-tag-3ds.png");
}

.platform.topic::before {
    background-image: url("/img/platform/platform-tag-general.png");
}

.community-wrapper {
    display: flex;

    max-width: 950px;

    margin: 0 auto;
    margin-top: 25px;

    height: fit-content;

    justify-content: center;
}

.community-sidebar {
    display: block;
    
    width: 318px;
    
    min-height: 500px;
    max-height: 900px;

    margin-right: 15px;
}

.community-banner a {
    display: block;
    height: fit-content;

    position: relative;
    top: 4px;
}

.community-banner a img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    width: 317px;
}

.community-info-wrapper {
    padding: 14px;

    background-color: var(--community-info-bg);
    border: 1px solid var(--community-info-border-color);

    border-radius: 6px;
    
    border-bottom: 2px solid var(--community-info-border-color);
}

.community-sidebar:has(.community-banner a img) .community-info-wrapper {
    border-radius: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.community-info-wrapper .icon {
    border-radius: 4px;
    border: 1px solid var(--community-info-border-color);

    margin-right: 10px;

    align-self: baseline;
}

.community-info {
    display: flex;
    flex-direction:row;
}

.community-name {
    font-weight: bold;

    display: block;

    font-size: 15px;
}

.community-app-name {
    color: var(--community-app-name-color);
    
    font-size: 14px;
}

.community-description-wrapper {
    background-color: var(--community-description-bg);

    margin-top: 10px;
    padding: 12px;

    border-radius: 5px;
}

.community-description-wrapper span {
    font-size: 13px;
    line-height: 1.5;
    color: var(--community-description-text-color);
}

.community-type {
    display: block;

    font-size: 10px;

    padding-top: 2px;
    padding-bottom: 2px;

    padding-left: 4px;
    padding-right: 4px;

    border-radius: 3px;

    margin-bottom: 3px;

    width: fit-content;

    color: var(--community-type-color);
    background-color: var(--community-type-badge-bg);
}

.community-add-post {
    margin-top: 15px;

    border: 1px solid var(--community-info-border-color);
    border-bottom: 2px solid var(--community-info-border-color);
    border-radius: 5px;

    height: 200px;

    background-color: var(--community-info-bg);
}

.community-content {
    width: 620px;
    max-width: 620px;

    height: fit-content;

    border: 1px solid var(--community-info-border-color);
    border-bottom: 2px solid var(--community-info-border-color);
    border-radius: 8px;

    background-color: var(--community-content-bg);
}

.community-content > .header {
    padding: 10px;

    font-weight: bold;

    font-size: 13.5px;

    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(245, 245, 245));
    color: var(--community-header-text-color);

    border-bottom: 1px solid var(--community-header-border-bottom-color);
}

.community-post-list .header {
    padding-left: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.normal .header {
    border-bottom: 3px solid var(--community-normal-color);

    color: var(--community-normal-color);
}

.popular .header {
    border-bottom: 3px solid var(--community-popular-color);

    color: var(--community-popular-color);
}

.ingame .header {
    border-bottom: 3px solid var(--community-ingame-color);

    color: var(--community-ingame-color);
}

.paintings .header {
    border-bottom: 3px solid var(--community-paintings-color);

    color: var(--community-paintings-color);
}

.normal .header span::before {
    content: "p";
}

.paintings .header span::before {
    content: "M";
}

.header span::before {
    font-size: 22px;
    vertical-align: middle;

    font-family: Symbols;
    margin-right: 8px;
}

.ingame .header span::before {
    content: "&";
}

.popular .header span::before {
    content: "W";
}

.no-posts {
    padding: 50px;
    display: block;
    text-align: center;
    color: var(--community-no-posts-text-color);
    border-bottom: 1px solid var(--footer-border-top);
}

.add-new-post {
    min-height: 100px;
    max-height: 250px;

    padding: 15px;

    border-bottom: 1px solid var(--community-info-border-color);

    display: flex;
}

.add-new-post textarea {
    resize: vertical;

    max-height: 200px;
    min-height: 100px;

    width: 100%;

    padding: 10px;

    font-family: Arial, Helvetica, sans-serif;

    border-radius: 5px;

    border: 1px solid var(--community-info-border-color);
    box-shadow: inset 0px 1px 4px rgb(220, 220, 220);
}

.add-new-post.expanded {

}

.list .post {
    display: flex;
    flex-direction: row;

    min-height: 80px;

    padding: 15px;
    padding-bottom: 15px;

    border-bottom: 1px solid var(--community-info-border-color);
}

.list .post:hover {
    background-color: var(--community-post-hover-bg);

    transition: background-color 0.2s;
}

.post img {
    width: 285px;
}

.list .post div {
    width: 100%;
}

.post .user-info {
    display: flex;
}

.post .user-info img {
    border-radius: 5px;
    border: 1px solid var(--community-info-border-color);

    width: 42px;
    height: 42px;
}

.user-info .user-info-text {
    margin-top: 4px;
    margin-left: 6px;
}

.user-info-text .name {
    display: block;
    width: fit-content;

    color: var(--common-text-color);
    text-decoration: none;

    font-weight: bold;

    font-size: 15px;
    margin-bottom: 4px;
}

.user-info-text .timestamp {
    display: block;

    font-size: 13px;

    color: var(--post-timestamp);
}

.user-info-text .name:hover {
    text-decoration: underline;
}

.post .content {
    margin-top: 10px;
    margin-bottom: 15px;

    color: var(--common-text-color);
}

.post-content-wrapper {
    display: flex;
    flex-direction: column;
}

.post > img + .post-content-wrapper {
    padding-left: 15px;
}

.post > img {
    border-radius: 6px;

    align-self: flex-start;
}

.post > img + .post-content-wrapper .content img {
    width: 200px;
}

.post .content img {
    display: block;

    margin: 0 auto;

    align-self: normal;
}

.content > .topic_tag + img {
    margin-top: 15px;
}

.post .post-actions {
    display: flex;

    justify-content: right;

    color: var(--post-actions-text-color);

    margin-top: auto;

    justify-self: end;
}

.post .post-actions span {
    display: block;
}

.post .post-actions button.empathy {
    margin-right: auto;
    background-color: var(--empathy-button-bg);
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 3px;
    border-radius: 5px;
    border: 1px solid var(--community-info-border-color);
    font-size: 12px;
    max-width: 200px;
}

.post .post-actions button.empathy:hover {
    cursor: pointer;

    box-shadow: 0px 1px 1px 0px var(--empathy-button-boxshadow-color);
}

.post .post-actions button.empathy.disabled span {
    color: var(--empathy-button-disabled-text-color);
}

.post .post-actions button.empathy.disabled:hover {
    cursor: auto;

    box-shadow: none;
}


button.empathy span::before {
    font-family: Symbols;
    content: "E";

    margin-right: 3px;
    font-size: 15px;
    vertical-align: -1.5px;

    color: var(--post-actions-text-color);
}

.empathy-count::before {
    content: "e";
    font-family: Symbols;

    margin-right: 5px;
}

.reply-count::before {
    content: "r";
    font-family: Symbols;

    margin-right: 5px;
    margin-left: 10px;

    position: relative;
    top: 1px;
}

.post.ingame .post-actions .reply-count::after {
    content: "D";
    font-family: Symbols;

    margin-right: 5px;
    margin-left: 10px;
}

.topic_tag {
    font-weight: bold;
    color: var(--topic_tag_color);

    display: block;
    width: fit-content;

    margin-bottom: 10px;
}

.topic_tag::before {
    font-family: Symbols;
    content: "t";
    font-weight: normal;

    margin-right: 5px;
}

@media (max-width: 822px) {
    menu {
        justify-content: space-around;
    }

    menu li {
        min-width: 0;

        margin-left: 0;
    }

    menu li a span {
        display: none;
    }

    menu li.logo:not(:only-child) {
        display: none;
    }

    .login-wrapper {
        width: 90%;

        min-width: 347px;
    }

    .login-wrapper img {
        width: 330px;
    }

    .login-wrapper span {
        display: block;
        width: 90%;
        text-align: center;
    }

    .about-image {
        width: 90%;

        margin: 0 auto;

        margin-top: 15px;
    }

    .about-image img {
        width: 100%;
    }

    .about-wrapper {
        flex-direction: column;
    }

    .about-paragraph {
        padding-right: 0px;
        width: 90%;

        margin: 0 auto;
    }

    .index-communities-wrapper {
        width: 95%;
        margin: 0 auto;

        flex-direction: column-reverse;
    }

    .community-favorites .next-arrow { display: none; }
    .community-favorites { width: fit-content !important; justify-content: center !important; }
    .favorite {margin-left: 0 !important;}

    .extra-content {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .extra-content form {
        width: 90%;
        max-width: none;
    }

    .index-communities-wrapper .communities {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .index-communities-wrapper > .communities > div > div {
        justify-content: center;
        align-items: center;

        width: fit-content;
    }

    .community {
        margin-right: 5px;
    }

    .community-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .community-wrapper .community-sidebar {
        min-width: 200px;
        width: 90%;

        margin: 0 auto;
    }

    .community-banner a img {
        width: 100%;
        height: auto;

        display: block;
    }

    .community-banner a  {
        top: 0px
    }

    .community-add-post {
        margin-bottom: 15px;
    }

    .community-content {
        min-width: 200px !important;
        max-width: none;
        width: 90%;

        margin: 0 auto;
    }

    .post > img {
        width: 135px;
    }

    .post .reply-count::after {
        display: none;
    }
}