<%- include("../partials/header.ejs", {
    image_url : "",
    title : "",
    description : ""
}) -%>

<body>
    
    <%- include("../partials/navbar.ejs") %>

    <div class="wrapper">
        <div class="about-aquamarine">
            <div class="about-wrapper">
                <div class="about-paragraph">
                    <h1>Welcome to Aquamarine!</h1>
                    <p>Aquamarine is a Miiverse Revival aiming to replicate both the feel, and look of Miiverse, while still retaining features of modern social media. Aquamarine's signature color, aqua, represents a refreshing experience for all walks of life.</p>

                    <div class="about-actions-wrapper">
                        <a href="communities.html"><span>Sign in</span></a>
                        <a href=""><span>Installation</span></a>
                    </div>
                </div>

                <div class="about-image">
                    <img src="/img/AquamarineDemoWWP.png">
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-wrapper">
            <div>
                <a href="https://github.com/AquamarineMiiverseTeam">GitHub</a>
                <a href="https://discord.gg/6hATBGPSdu">Discord</a>
            </div>
        </div>
    </footer>
</body>