<div class="community-post-list journal guest">
	<div class="header">
		<span>Play Journal Entries</span>
	</div>

	<div class="list">
		<% for (const post of play_journal_posts) { %>
		<%- include("../play_journal.ejs", {
                post : post,
                show_community : false
            }) -%>
		<% } %>

		<% if (play_journal_posts.length <= 0) { %>
		<span class="no-posts">There are no journal entries yet.</span>
		<% } %>
	</div>
</div>

<div class="community-post-list paintings guest">
	<div class="header">
		<span>Recent Drawings</span>
	</div>

	<div class="list drawing">
		<% for (const drawing of recent_drawings) { %>
		<%- include("../drawing.ejs", {drawing : drawing}) -%>
		<% } %>

		<% if (recent_drawings.length <= 0) { %>
		<span class="no-posts">There are no drawings yet.</span>
		<% } %>
	</div>
</div>

<% if (community.ingame_posts) { %>
<div class="community-post-list ingame guest">
	<div class="header">
		<span>In-Game Posts</span>
	</div>

	<div class="list">
		<% for (const post of ingame_posts) { %>
		<%- include("../posts.ejs", {
                post : post,
                show_community : false
            }) -%>
		<% } %>

		<% if (ingame_posts.length <= 0) { %>
		<span class="no-posts">There are no posts yet.</span>
		<% } %>
	</div>
</div>
<% } %>